# Remnawave panel API token, to create a new one: panel –> settings –> API tokens
REMNAWAVE_TOKEN=
REMNAWAVE_PANEL_URL=
# Required if you use panel security tools: https://docs.rw/install/panel-security/ 
# Format: key1:value1;key2:value2
# Example: REMNAWAVE_HEADERS=X-Api-Key:your-key
REMNAWAVE_HEADERS=
# Prefix for generating limited username, write without underscape
LIMITED_PREFIX=L
#Dont change if you don't know what you are doing
PROXY_PORT=3030
#Dont change if you don't know what you are doing
SUBSCRIPTION_PAGE_INTERNAL_URL=http://remnawave-subscription-page:3010
# Log levels: DEBUG, INFO, WARN OR ERROR
LOG_LEVEL=INFO